<div class="col-sm-6">
  <h1>Bootstrap3 DTP Test</h1>
  <%= form_tag(test_index_path) do %>
    <div class="form-group">
      <%= label_tag :datetime, 'DateTime' %>
      <div class="input-group date" id="datetimepicker">
        <%= text_field_tag :datetime, nil, class: 'form-control', data: { date_format: 'YYYY/MM/DD HH:mm' } %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
    </div>
    <%= button_tag :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
